apiVersion: apps/v1
kind: Deployment
metadata:
  name: playing-application-deployment
  namespace: playing-application
spec:
  replicas: 2
  selector:
    matchLabels:
      component: backend
  template:
    metadata:
      labels:
        component: backend
    spec:
      containers:
        - name: playing-app
          image: brunokarpo/playing
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: playing-application-config-map
